[submodule "detection/ByteTrack"]
	path = detection/ByteTrack
	url = https://github.com/ifzhang/ByteTrack.git
[submodule "ByteTrack"]
	path = ByteTrack
	url = https://github.com/ifzhang/ByteTrack.git
